.menu_dark {	
	display: flex;
	border: 3px solid white;
	border-radius: 3px; 
	border-radius: 20px;
	background: #579B46FF;
	min-width: 97.5vw;
	margin-right: 3px;
	margin-left: 3px;
	top: 0;
	position: fixed;
	align-self: center;
	alignment-baseline: baseline;
	justify-content: flex-start;
}
.menu_dark a{
	text-decoration: none;
}
.menu_dark a.parent{
	margin: 0px 15px 0px 0px;
}
.menu_dark li{
	position: relative;
	list-style: none;	
}




.menu_link_dark{
	color: #000;
	}



.menu_list_dark{
	text-decoration: none;
	display: flex;
	flex: 1 0;
	align-items: center;
	justify-content: flex-start;
} 
.menu_list_dark li{
	margin: 0px	10px 0px 0px;	
	padding-right: 6px;
}

.menu_list_dark>li:hover{
	background: #fff;
}
.menu_list_darkk{
	color: #000;
}

body.mouse .menu_list_dark>li:hover .sub-menu_dark{
	display: block;
}

body.touch .sub-menu_dark.open{
	display: block;
}
body.touch .arrow{
		display: block;
	}


.sub-menu_dark {
	display: none;
	position: absolute;
	left: 0;
	top:10px;
	padding: 15px 0px 0px 0px;
	text-align: center;
	min-width: 150px;
}
.sub-menu_dark li{
	background: black;
	border-radius: 15px;
}
.sub-menu_link_dark {
	color: white;
	display: inline-block;
	padding: 5px 10px;
}
.sub-menu_dark li:hover{
background: #4DF7FFFF;
}
.arrow {
	display: none;
	position: absolute;
	right: 0;
	top:4px;
	width: 0;
	height: 0;
	border-top: 6px solid #fff;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	padding-top: 2px;
}	
.arrow.active{
	transform: rotate(-180deg);
}
.menu_arrow{
}
body.mouse .menu_list_dark>li:hover .sub-menu_dark{
	display: block;
}

body.touch .sub-menu_dark.open{
	display: block;
}
body.touch .arrow{
		display: block;
	}

.button_style_dark {
	background: none;
	border: none;
	border-radius: 10px;
	
	font-size: 18px;
	font-family: Broadway;
	color: black;		
	background: none;
	position: relative;
	padding: 3px;
	text-shadow: 10px;
	align-self: center;
	justify-content: flex-start;
	align-content: flex-start;
	margin-right: 5px;
}
.button_style_dark:hover
{
	background: #4DF7FFFF;
}
.title_dark {
	display: flex;
	margin-bottom: 3px;
	justify-content: center;
	background: #43041EFF;
	border: 3px solid #fff;
	border-radius: 10px;
	color: #4DF7FFFF;
}
.common_text_dark{	
	background: #FF7711; 
	border-radius: 10px;
	border: 3px solid #fff;
}





.infom_after_main_dark {
	padding: 3px;
	margin:3px;
	border: 3px solid #fff;
	border-radius: 10px;
	text-align: leftt;
}
.common_text_after_dark{
	color: #579B46FF;
	background: black
	border: 2px;
	border-radius: 10px;
}



.list_dark {
	display: flex;
	width: 23%;
	height: auto;
	border: 2px solid #fff; 
	margin: 3px;
	padding-1px;	
	flex-wrap: wrap;
}


.photo_dark{
	display: flex;
	flex: 0 1;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.photo_dark img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: invert(1);
}

.table_dark{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:8px;
	border: 2px;
	text-shadow: 2px;
	text-align: left;
	border: 2px solid transparent;
	font-weight: normal;
	font-family: Arial;
	background: white;
	font-style: oblique;
}

.arrow_dark
{
	display: none;
	position: absolute;
	right: 0;
	top:4px;
	width: 0;
	height: 0;
	border-top: 6px solid #000;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	padding-top: 2px;
}

.footer_dark {
	 display: flex;
	 flex-direction: column-reverse; 	
	 justify-content: center;
	 bottom: 0;
	 text-align: center;
	 border: 4px, solid rgba(0,0,0,.5); 
	 border-radius: 20px;
	 align-items: center;
	}	
@media(max-width: 770px) {
	.button_style_dark
	{
		font-weight: normal;
		font-size: 13px;
		justify-content: center;
	}
	.photo_dark
	{
		flex-direction: column;
		align-content: center;
		filter: invert(1);
	}
	.list_dark
	{
		width: 90%;
	}
}
